body {
    background-color: #fff9ec;
    background-image: url("MilkTile.png");
    background-repeat: repeat;
    background-size: 200px;

    animation: moveBackground 10s linear infinite;
}
#inputDiv {
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    max-width: 13rem;
    flex-direction: column;
    background-color: #d9d9d9;
    margin-inline: auto;
    padding: 1rem;
}
.inInputDiv {
    margin: 0.5rem;
}
#countdown {
    font-size: 1.5rem;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 30rem;
}
.textDiv {
    text-align: center;
    border: 2px solid black;
    max-width: 13rem;
    padding: 1rem;
    background-color: #d9d9d9;
    margin-inline: auto;
}
button {
    margin: 0.5rem;
    padding: 0.25rem;
}
input{
    width: 5rem;
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 200px 200px;
    }
}